@import './material-design-colors.css';
@import './prism.css';
@import './markdown-it.css';
@import './type.css';
@import './helpers.css';

:root {
  --lightgray: #e0e0e0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --dark: var(--gray900);
  --text: var(--gray800);
  --text-alt: var(--gray100);
  --site-width: 40rem;
  --mobile: 42rem;
  --transparent-border: rgba(0, 0, 0, 0.125);
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre,
code,
kbd {
  font-family: Menlo, Monaco, Consolas, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
    'Courier New', Courier, monospace;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

kbd {
  border: 1px solid var(--transparent-border);
  border-bottom-width: 2px;
  border-radius: 4px;
  font-size: 0.875rem;
  padding: 0 3px;
}

a {
  position: relative;
  text-decoration: none;
}

a, a::after {
  transition: all 85ms ease-out;
}

a::after {
  background: yellow;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  z-index: -1;
}

a:hover::after {
  width: 100%;
}

.SiteMain {
  flex: 1;
}

.ContentContainer {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem;
}

.SiteFooter {
  background: var(--dark);
  color: var(--text-alt);
}

.SiteFooter__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 44rem) {
  .SiteFooter__content {
    grid-template-columns: initial;
  }
}

.SiteFooter__content h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

.SiteFooter__block nav a {
  align-items: center;
  color: var(--text-alt);
  display: flex;
  text-decoration: none;
}
.SiteFooter__block nav a:hover,
.SiteFooter__block nav a:focus {
  text-decoration: underline;
}

.SiteFooter__block nav a svg {
  margin-right: 0.5rem;
}

.SiteFooter__block p {
  margin: 0;
}

.SDG blockquote {
  margin: 0;
}

.SDG cite {
  display: block;
  margin-top: 0.5rem;
}

.Article__header {
  /* border-bottom: 1px solid var(--gray300); */
  margin-bottom: 2rem;
}

.Article__header h1 {
  margin-top: 1rem;
}

.Bio {
  background: var(--gray300);
}

.Bio__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 8rem 1fr;
}

.Bio__content img {
  border-radius: 16rem;
  margin: 0 auto;
  max-width: 8rem;
  width: 100%;
}

@media screen and (max-width: 44rem) {
  .Bio__content {
    grid-template-columns: initial;
  }
}

.ArticleList {
  list-style: none;
  padding: 0;
}

.ArticleList__item {
  display: grid;
  grid-gap: 0.5rem;
}

.ArticleList__item {
  margin-bottom: 2rem;
}

.ArticleList__meta {
  align-items: center;
  display: flex;
}

@media screen and (max-width: 44rem) {
  .ArticleList__meta {
    display: grid;
    grid-gap: 0.5rem;
  }

  .ArticleList__date::after {
    display: none;
  }
}

.ArticleList__link {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/* .ArticleList__link:hover,
.ArticleList__link:focus {
  text-decoration: underline;
} */

.ArticleList__description {
  border-bottom: 1px solid var(--gray300);
  margin: 0;
  padding-bottom: 0.5rem;
}

.ArticleList__date::after {
  content: ' in';
  margin-right: 0.25rem;
}

.Tag {
  --border-color: var(--transparent-border);
  border: 1px solid var(--border-color);
  color: var(--gray900);
  display: inline-block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
}

.Tag::after {
  background: var(--amber900);
}

.Tag:hover,
.Tag:focus {
  color: white;
}

.Tag + .Tag {
  margin-left: 0.25rem;
}

.Tag.Tag--a11y::after {
  background: #155196;
}
.Tag.Tag--a11y:hover {
  color: #fff;
}

.Tag.Tag--javascript::after {
  background: #f0db4f;
}

.Tag.Tag--javascript:hover {
  color: #323330;
}

.Tag.Tag--python::after {
  background: #356a97;
}

.Tag.Tag--python:hover {
  color: #f7d74e;
}

.Tag.Tag--react::after {
  background: #282c34;
}

.Tag.Tag--react:hover {
  color: #61dafb;
}

.Tag.Tag--ux::after {
  background: #d700bf;
}

.Tag.Tag--ux:hover {
  color: #ffffff;
}
