@import './material-design-colors.css';
@import './variables.css';
@import './elements.css';
@import './type.css';
@import './helpers.css';

/* Markdown-it styles */
@import './prism.css';
@import './markdown-it.css';

/* Block-level styles */
@import 'blocks/header.css';
@import 'blocks/nav.css';
@import 'blocks/footer.css';
@import 'blocks/article.css';
@import 'blocks/article-list.css';
@import 'blocks/social-share.css';
@import 'blocks/tag-list.css';
@import 'blocks/bio.css';
@import 'blocks/hero.css';

.main {
  flex: 1;
}

.content-container {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem;
}

.date {
  border-bottom: 2px solid white;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.25rem 0;
  text-transform: uppercase;
}

ul.--inline-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.--inline-list li {
  display: inline-block;
  margin-bottom: 1.25rem; /* This is a magic number, but makes a standard gutter */
}

@media screen and (max-width: 672px) {
  ul.--inline-list {
    display: block;
    margin-top: 0.5rem;
  }
}

ul.--slash-separated li:not(:last-of-type)::after {
  color: var(--gray300);
  content: '/';
  margin: 0 0.25rem;
}
