@import './material-design-colors.css';
@import './variables.css';
@import './elements.css';
@import './type.css';
@import './helpers.css';

/* Markdown-it styles */
@import './prism.css';
@import './markdown-it.css';

/* Block-level styles */
@import 'blocks/Header.css';
@import 'blocks/Footer.css';
@import 'blocks/Article.css';
@import 'blocks/ArticleList.css';
@import 'blocks/Tag.css';
@import 'blocks/SocialShare.css';
@import 'blocks/Bio.css';

.Main {
  flex: 1;
}

.ContentContainer {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem;
}