/* Direct Links / Markdown Headers */
.DirectLink {
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].DirectLink,
a[href].DirectLink:visited {
  color: transparent;
}

a[href].DirectLink:focus,
a[href].DirectLink:focus:visited,
:hover > a[href].DirectLink,
:hover > a[href].DirectLink:visited {
  color: #aaa;
}

hr.footnotes-sep {
  background: var(--gray300);
  border: 0;
  height: 1px;
  margin: 2rem 0;
}

ol.footnotes-list {
  padding-left: 0;
}
