/* Direct Links / Markdown Headers */
.DirectLink {
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].DirectLink,
a[href].DirectLink:visited {
  color: transparent;
}

a[href].DirectLink:focus,
a[href].DirectLink:focus:visited,
:hover > a[href].DirectLink,
:hover > a[href].DirectLink:visited {
  color: #aaa;
}

.Footnotes {
  border-top: 1px solid var(--gray300);
  margin: 2rem 0 0;
  padding: 2rem 0 0;
}

.Footnotes h5 {
  margin-top: 0;
}

.Footnotes ol {
  padding-left: 0;
}
