p,
ul,
li {
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}

blockquote {
  border-left: 2px solid var(--text);
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 1.5rem;
}

blockquote p {
  font-style: italic;
  margin: 0;
}

li,
blockquote p {
  line-height: 1.25rem;
}

li {
  margin: 0.5rem 0;
}
