p {
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}

blockquote {
  border-left: 2px solid var(--text);
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 2.5rem;
  position: relative;
}

blockquote::before, blockquote::after {
  position: absolute;
  font-family: Georgia;
  font-size: 4em;
  opacity: 0.25;
}

blockquote::before {
  content: '“';
  left: 0.5rem;
  top: -0.5rem;
}

blockquote::after {
  content: '”';
  right: 0.5rem;
  bottom: -2.5rem;
}

blockquote p {
  font-style: italic;
  /* line-height: 1.125rem; */
  margin: 0;
}