:root {
  --background: hsl(216, 5%, 95%);
  --off-background: hsla(216, 5%, 10%, 20%);
  --text-color: hsl(216, 5%, 10%);

  --accent: hsl(188, 100%, 42%);
  --primary: hsl(216, 85%, 34%);

  --body-font: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --mono-font: Menlo, Monaco, Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--body-font);
  /* font-size: 125%; */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 1rem;
}

.site-header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 500px) {
  .container {
    padding: 2rem;
  }

  .container.--content {
    max-width: 70ch;
  }
}

.skip-link {
  background-color: var(--primary);
  color: white !important;
  font-weight: bold;
  position: fixed;
  padding: 1rem;
  z-index: 9999;
}

.skip-link:not(:focus) {
  right: 200%;
}

.skip-link:focus {
  left: 0;
  outline: 2px dotted white;
}

