:root {
  --blue: hsl(212, 80%, 42%);
  --light-blue: hsl(210, 79%, 46%);
  --dark-blue: hsl(216, 85%, 34%);
  --red: hsl(0, 66%, 47%);
  --dark: hsl(0, 0%, 13%);
  --accent: hsl(188, 100%, 42%);
  --faint-gray: hsl(0, 0%, 88%);
  --gray: hsl(0, 0%, 46%);
  --off-white: hsl(0, 0%, 98%);

  --hero-background: linear-gradient(to right, var(--dark-blue), var(--accent));

  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --mono-font: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  --font-small: 0.875em;
  --text-color: hsl(0, 0%, 26%);
  --alt-text-color: var(--off-white);

  --transparent-border: hsla(0, 0%, 0%, 0.125);
  --border-color: var(--faint-gray);
  --border: 1px solid var(--border-color);
}

html,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem 1rem;
}

.container.--content {
  max-width: 44rem;
}

@media screen and (min-width: 500px) {
  .content {
    padding: 2rem
  }
}

/* Header */

.header {
  --image-size: 3rem;
  background-color: var(--dark);
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 10;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header picture {
  height: var(--image-size);
  /* There are ~3px of unaccountable space without this */
  overflow: hidden;
}

.home-link__image {
  border-radius: var(--image-size);
  width: 100%;
}

.header .home-link {
  align-items: center;
  display: grid;
  font-weight: bold;
  gap: 0.5rem;
  grid-template-columns: var(--image-size) auto;
  text-decoration: none;
}

.header .home-link,
.header .home-link:visited {
  color: white;
}

.header .home-link:hover .home-link__text,
.header .home-link:focus .home-link__text {
  background: white;
  color: var(--dark);
}

.home-link__text {
  display: inline-block;
  margin: -0.0625rem -0.25rem;
  padding: 0.0625rem 0.25rem;
}

@media screen and (max-width: 500px) {
  .header {
    --image-size: 2rem;
  }
}

/* Navigation */

#mobile-nav {
  display: none;
}

@media screen and (max-width: 500px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
}

/* Skiplink */

.skip-link {
  background-color: var(--blue);
  color: white !important;
  font-weight: bold;
  position: fixed;
  padding: 1rem;
  z-index: 9999;
}

.skip-link:not(:focus) {
  right: 200%;
}

.skip-link:focus {
  left: 0;
  outline: 2px dotted white;
}

/* Hero */

.hero {
  background: var(--hero-background);
  color: white;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0;
}

.hero__subtitle {
  font-size: 150%;
  line-height: 1.125;
  margin: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 500px) {
  .hero h1 {
    padding: 1rem 0;
  }

  .hero__subtitle {
    padding-bottom: 1rem;
    padding-top: 0;
  }
}
