---
title: Emoji picker
description: A standalone emoji picker with a prompt to copy to clipboard.
head: >-
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍓</text></svg>">
    <style>
        main { text-align: center }
        emoji-picker { margin: 0 auto }
    </style>
foot: >-
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script>
        window.addEventListener("emoji-click", event => {
            window.prompt("Copy to clipboard", event.detail.unicode);
        })
    </script>
---

<h1>{{ title }}</h1>

<emoji-picker></emoji-picker>
