---
layout: site.liquid
---
<layout-content class="category">
  <section aria-label="Introduction">
    {{ content }}
    <hr style="margin-block-end: 0;">
  </section>
  <main>
    <h2>Posts</h2>
    {%- assign pages = collections[category]
      | exclude_flag_in_prod: 'RSS-ONLY', 'DRAFT'
      | where: 'data.leaf'
      | reverse
    -%}
    {% include 'page-list' %}
  </main>
  <aside>
    <h2>Search</h2>
    <form action="/search/?category={{ category }}" class="search">
      <input type="hidden" name="category" value="{{ category }}">
      <input type="search" name="q" placeholder="Search..." aria-label="Search through posts">
      <button type="submit">Search</button>
    </form>
    <h2>Tags</h2>
    {%- assign tags = collections.tagsByCategory[category] -%}
    {% include 'tag-list' %}
    <h2>Activity</h2>
    {% include 'page-activity-graph' %}
  </aside>
</layout-content>
