{% # sync: search.md %}
<li class="page-list-item">
    <a href="{{ page.url }}">
        {{ page | render_title | escape }}
    </a>
    {%- if page.data.date -%}
    <time datetime="{{ page.data.date }}">{{ page.data.date | readable_date }}</time>
    {%- endif -%}
</li>
{% # endsync %}
