<div id="random-prompt">
    <slot />
    <button>Get random prompt</button>
    <output class="hidden()" aria-live="polite"></output>
</div>

<script>
    const options = document.querySelectorAll("#random-prompt li");
    const button = document.querySelector("#random-prompt button");
    const output = document.querySelector("#random-prompt output");

    button.addEventListener("click", () => {
        const index = Math.floor(Math.random() * options.length);
        options.forEach((li, i) => {
            if (i === index) {
                li.classList.add("highlighted");
                output.textContent = li.textContent;
            } else {
                li.classList.remove("highlighted");
            }
        });
    });
</script>

<style>
    button {
        background-color: var(--off-background);
        border: 2px solid var(--text-color);
        border-radius: 2px;
        color: var(--text-color);
        display: block;
        margin-inline: auto;
        padding: var(--space-2xs) var(--space-xs);
    }

    :global(#random-prompt li.highlighted) {
        background-color: var(--background);
        color: var(--primary);
        outline: 2px solid var(--primary);
        outline-offset: 4px;
        scale: 1.1;
    }
</style>
