<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "partials/meta-info.njk" %}
        <link rel="shortcut icon" href="{{ '/img/seanmcp.favicon.png' | url }}" type="image/png">
        <link rel="stylesheet" href="/css/basic.css">
        {% if head -%}{{ head | safe }}{%- endif %}
    </head>
    <body data-page-type="{{ layout }}" {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

        <main id="main" role="main" class="main {% if templateClass %}main--{{ templateClass }}{% endif %}">
            {{ content | safe }}
        </main>

        <!-- Current page: {{ page.url | url }} -->
    </body>
    {% if foot %}{{ foot | safe }}{% endif %}
</html>