---
permalink: feed/notes.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>A feed of short notes, thoughts, or ideas, preserved here on SeanMcP.com</subtitle>
    <link href="https://seanmcp.com/feed.notes.xml" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.notes | rssLastUpdatedDate }}</updated>
    <id>{{ metadata.feed.id }} - Notes</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for note in collections.notes %}
        {% set absolutePostUrl %}{{ note.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <entry>
            <title>{{ note.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ note.date | rssDate }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html">{{ note.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </entry>
    {%- endfor %}
</feed>