<section class="bio">
    <div class="container --content --clear-child-margins">
        <hr class="small"/>
        <h2>About<span class="--visually-hidden">&nbsp;the author</span>
        </h2>
        <div class="bio__content">
            <img alt="" loading="lazy" src="/img/seanmcp_thumbnail.png"/>
            <p>
                {% if pageFlavor == 'soccer' %}
                    Sean McPherson is a soccer fan and occassional writer who has been featured in
                    <a href="https://npsl.com">NPSL.com</a>,
                    <a href="https://dirtysouthsoccer.com">Dirty South Soccer</a>, and
                    <a href="https://brotherlygame.com">Brotherly Game</a>. He supports West Ham United, FC Augsburg, Inverness Caledonian
                        Thistle, and the Pittsburgh Riverhounds from Pittsburgh, PA.
                {% else %}
                    Sean McPherson is a software engineer for Khan Academy who specializes in web and mobile app development. He lives with
                    his wife, sons, and dog in Pittsburgh, PA.
                {% endif %}
                (SDG)</p>
        </div>
    </div>
</section>