:root {
  /* Fonts */
  --sans-font: Inter, system-ui, -apple-system, BlinkMacSystemFont, Helvetica,
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial,
    "Segoe UI", sans-serif;
  --mono-font: "Cascadia Code", Menlo, Monaco, Consolas, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  --body-font: var(--sans-font);

  /* Font size */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6944rem, 0.6341rem + 0.3019vw, 0.8681rem);
  --step--1: clamp(0.8333rem, 0.7609rem + 0.3623vw, 1.0417rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0957rem + 0.5217vw, 1.5rem);
  --step-2: clamp(1.44rem, 1.3148rem + 0.6261vw, 1.8rem);
  --step-3: clamp(1.728rem, 1.5777rem + 0.7513vw, 2.16rem);
  --step-4: clamp(2.0736rem, 1.8933rem + 0.9016vw, 2.592rem);
  --step-5: clamp(2.4883rem, 2.2719rem + 1.0819vw, 3.1104rem);

  /* Spacing */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
  --space-2xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-xs: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.37rem + 0.65vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.65rem + 1.74vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.48rem + 2.61vw), 7.5rem);

  /* Misc */

  --stroke-thickness: 1px;

  /* Colors */
  --github-dark-background: hsl(211, 21%, 7%);
  --github-dark-blue: hsl(206, 96%, 68%);
  --github-dark-green: hsl(141, 70%, 66%);
  --github-dark-orange: hsl(28, 100%, 67%);
  --github-dark-purple: hsl(271, 92%, 80%);
  --github-dark-red: hsl(4, 100%, 72%);
  --github-dark-text: hsl(206, 18%, 79%);

  --github-light-black: hsl(213, 13%, 16%);
  --github-light-blue: hsl(213, 94%, 35%);
  --github-light-green: hsl(137, 63%, 33%);
  --github-light-orange: hsl(23, 100%, 29%);
  --github-light-purple: hsl(261, 69%, 59%);

  --blue: var(--github-dark-blue);
  --green: var(--github-dark-green);
  --orange: var(--github-dark-orange);
  --purple: var(--github-dark-purple);

  --dark-hs: 211, 21%;
  --dark: hsla(var(--dark-hs), 10%);
  --light-hs: 206, 18%;
  --light: hsl(var(--light-hs), 95%);
  --extra-dark: hsl(var(--dark-hs), 7.5%);

  /* Theme */

  --primary: var(--github-dark-blue);
  --alt-primary: var(--github-light-blue);
  --accent: var(--github-dark-purple);

  --background: var(--dark);
  --off-background: hsl(var(--light-hs), 15%);
  --faint: hsl(var(--light-hs), 12%);

  --text-color: var(--light);
  --lighter-text-color: hsl(var(--light-hs), 51%);
  --anchor-color: var(--primary);

  --inline-code-background: hsl(var(--light-hs), 15%);
  --inline-code-color: hsl(var(--light-hs), 60%);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--step-0);
  line-height: 1.5;
}

:target {
  scroll-margin-block-start: var(--space-l);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 0.9;
  text-wrap: balance;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step--1);
}

/* Keep in sync with [data-footnotes] */
hr {
  background: var(--off-background);
  border: none;
  height: var(--stroke-thickness);
  margin-block: var(--space-l) !important;
}

a {
  color: var(--anchor-color);
  text-decoration-color: var(--off-background);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: var(--stroke-thickness);
  text-underline-offset: var(--stroke-thickness);
  transition: all 100ms ease-in-out;
}

a[aria-current="page"],
a:hover {
  text-decoration-color: currentColor;
}

:where(.focusable\(\)):focus-within,
:where(:focus) {
  outline: var(--stroke-thickness) solid var(--accent);
  outline-offset: var(--stroke-thickness);
}

code,
.astro-code {
  font-family: var(--mono-font);
  font-size: 1rem;
}

.astro-code {
  padding: 1rem;
}

a code {
  color: inherit !important;
}

pre,
code,
kbd {
  font-family: var(--mono-font);
  font-size: 0.875em;
}

pre:not([class]),
:not(pre)>code:not([class]) {
  background: var(--inline-code-background);
  color: var(--inline-code-color);
  padding: 0.25ch 0.5ch;
}

pre:not([class]) {
  overflow-x: auto;
}

kbd {
  border: 1px solid var(--off-background);
  border-bottom-width: calc(--stroke-thickness);
  border-radius: calc(var(--stroke-thickness) * 2);
  color: var(--lighter-text-color);
  padding: 0.25ch 0.5ch;
}

blockquote {
  border-left: var(--stroke-thickness) solid currentColor;
  color: var(--lighter-text-color);
  margin-left: 0;
  margin-right: 0;
  padding: var(--space-xs) var(--space-m);
}

blockquote p {
  font-style: italic;
  line-height: 1.25;
  margin: 0;
}

/* Necessary because blockquote content is already italic  */
blockquote :is(i, em) {
  font-style: normal;
  text-decoration: underline;
}

li ol,
li ul {
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-2xs);
}

mark {
  background-color: var(--alt-primary);
  color: var(--text-color);
}

table:not([class]) {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

table:not([class]) :is(th, td) {
  padding: var(--space-2xs);
}

table:not([class]) th {
  border-bottom: var(--stroke-thickness) solid currentColor;
  font-weight: bold;
}

table:not([class]) tr:nth-child(even) {
  background-color: var(--faint);
}

main :is(ol, ul):not([class])>li+li {
  margin-block-start: 0.5em;
}

main img {
  max-width: 100%;
}

script,
style {
  display: none !important;
}

/* Utilities */

.center\(\) {
  align-items: center;
  display: flex;
  justify-content: center;
}

[class*="contain("] {
  padding: var(--space-s);
}

[class*="contain("]>* {
  display: block;
  margin-inline: auto;
  max-width: 48rem;
}

.contain\(full\)>* {
  max-width: initial;
}

.divider\(\)::before {
  color: var(--off-background);
  content: "◆";
  display: inline-block;
  font-size: xx-small;
  font-weight: bold;
  transform: translateY(-0.2em);
}

[class*="stack("]>*+* {
  margin-block-end: 0;
  margin-block-start: var(--space-s);
}

[class*="stack("]>*+* {
  margin-block-end: 0;
  margin-block-start: var(--space-s);
}

[class*="stack("] :is(h1, h2, h3, h4) {
  margin-block-start: 1em;
}

/* [class*="stack("] :is(h1, h2, h3, h4)+* {
  margin-block-start: var(--space-xs);
} */

.stack\(xs\)>*+* {
  margin-block-start: var(--space-xs);
}

.stack\(l\)>*+* {
  margin-block-start: var(--space-l);
}

.stack\(2xl\)>*+* {
  margin-block-start: var(--space-2xl);
}

.lede\(\) {
  color: var(--lighter-text-color);
  font-size: var(--step-1);
  line-height: 1.25;
}

[class*="line("] {
  align-items: center;
  display: flex;
  gap: var(--space-s);
}

.line\(0\) {
  gap: 0;
}

.line\(xs\) {
  gap: var(--space-xs);
}

.hidden\(\) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.focusable\(\) {
  transition: transform 100ms ease-in-out;
}

.focusable\(\):is(:focus, :focus-within, :hover) {
  transform: scale(1.15);
}

.pixelate\(\) {
  image-rendering: pixelated;
}

/* Keep in sync with hr */
[data-footnotes] {
  border-top: var(--stroke-thickness) solid var(--off-background);
  margin-block-start: var(--space-l);
  padding-block-start: var(--space-l);
}

[data-footnotes] *:first-child {
  margin-block-start: 0;
}

bible-verse {
  margin-inline-start: auto;
  position: relative;
}

bible-verse div {
  background-color: var(--background);
  border: var(--stroke-thickness) solid var(--off-background);
  bottom: calc(100% + var(--space-xs));
  padding: var(--space-xs);
  position: absolute;
  right: calc(-1 * var(--space-xs));
  width: 30ch;
  z-index: 1;
}

table-of-contents {
  display: block;
  overflow-y: auto;
}

table-of-contents ol {
  list-style-type: disc;
  margin-block: 0;
}