---
layout: base
templateClass: article
styles:
    - prism.css
    - markdown-it.css
---

{% set imageUrl = image | url if image else 
    undefined %}

<article class="article">
    <div class="container --content">
        {% if "garden" in tags %}
            <span class="date">Garden</span>
        {% else %}
            <time class="date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
        {% endif %}
        <h1 style="margin-top:1rem;">{{ title }}</h1>
        {% if pageFlavor == "soccer" %}
            <p><a href="/soccer/">Soccer</a> {% emoji '⚽️' %}</p>
        {% else %}
            {% set horizontal = true %}
            {% include "partials/tag-list.njk" %}
        {% endif %}
        {% if imageUrl -%}
            <img class="article__image" src="{{ imageUrl }}" alt="{{ title }}"/>
        {% endif -%}

        <hr class="subtle"/>

        {% if "wip" in tags %}
            <section class="wip-block --clear-child-margins">
                <p>{% emoji "👋" %}&nbsp; Hey there! This article is being published a "work in progress," which means that it is not done. So take everything with a grain of salt.</p>
                <p>I may or may not come back and finish this article. Regardless, I hope that it's helpful in its current state.</p>
            </section>
        {% endif %}

        {{ content | safe }}

        {% if verse %}
            <p style="text-align:right;">
                <a href="https://esv.org/{{verse}}" rel="noopener noreferrer" target="_blank">{{ verse }}
                    (SDG)</a>
            </p>
        {% endif %}
    </div>
</article>

{% include "partials/bio.njk" %}