---
layout: base
templateClass: article
styles:
    - article.css
    - prism.css
    - markdown-it.css
    - tag-list.css
---

{% set imageUrl = image | url if image else undefined %}

<section class="hero">
    <div class="container --content">
        <header class="article__header --clear-child-margins">
            {% if "garden" in tags %}
                <span class="date">Garden</span>
            {% else %}
                <time class="date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
            {% endif %}
            <h1 id="title">{{ title }}</h1>
        </header>
    </div>
</section>

<article class="article page">
    <div class="container --content --clear-child-margins">
        {% if imageUrl -%}
            <img class="article__image" src="{{ imageUrl }}" alt="{{ title }}" />
        {% endif -%}

        {{ content | safe }}
        <footer class="article__footer">
            <div class="article__tags">
                <strong>Filed under:</strong>
                {% include "partials/tag-list.njk" %}
            </div>
        {% if verse %}<p class="article__sdg"><a href="https://esv.org/{{verse}}">{{ verse }} (SDG)</a></p>{% endif %}
        </footer>
    </div>
</article>

{% include "partials/bio.njk" %}