---
layout: page
permalink: /
---

{{ content | safe }}

<h2>Recent Articles</h2>

{% set articles = collections.articles | head(-5) %}
{% include "partials/article-list.njk" %}

<p><a href="{{ '/articles/' | url }}">View all articles</a></p>