---
layout: base
bodyClass: note-layout
---

<div class="container --content note-container">
    {% note { content: content | safe, date: page.date, edited: edited, url: page.url } %}
    <footer>
        <a href="/notes/">View all notes</a>
    </footer>
</div>