---
layout: base
bodyClass: note-layout
---

<div class="container --content note-container">
    {% note %}{{ content | safe }}{% endnote %}
    <footer>
        <a href="/notes/">View all notes</a>
    </footer>
</div>