---
layout: page
templateClass: outline
---
<nav style="text-align:right;"><a href="/talks">View all talks</a></nav>

{% if description %}
<h2 id="overview">Overview <a class="direct-link" href="#overview">#</a></h2>
<p>{{ description }}</p>
{% endif %}

{{ content | safe }}
