---
layout: base
templateClass: page
---
{%- if title or renderData.title -%}
<section class="hero">
    <div class="container --content --clear-child-margins">
        <h1>{{ display.title or title or renderData.title }}</h1>
        {%- if display.subtitle %}<p class="hero__subtitle">{{ display.subtitle }}</p>{% endif%}
    </div>
</section>
{%- endif -%}
<div class="page">
    <div class="container --content --clear-child-margins">
        {{ content | safe }}
    </div>
</div>