---
import ArticleList from "@components/ArticleList.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getArticles, slugify } from "src/utils";
import seriesData from "src/data/series-data.json";

export async function getStaticPaths() {
    const articles = await getArticles();
    const series = {}
    articles.forEach(article => {
        if (article.data.series) {
            if (!series[article.data.series]) {
                series[article.data.series] = [];
            }
            series[article.data.series].push(article)
        }
    });

    return Object.entries(series).map(([name, articles]) => ({
        params: { series: slugify(name)},
        props: {articles, name}
    }))
}

const {articles, name} = Astro.props
const data = seriesData[name]
---

<PageLayout title={`Series: ${name}`} description={data.description}>
    {data?.description && <p>{data?.description}</p>}
    <ArticleList articles={articles} />
</PageLayout>