---
import TagList from "@components/TagList.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { getTags } from "../../utils";

// const allPosts = await Astro.glob("../articles/*.(md|mdx)");
const articles = await getCollection("articles")
const tags = getTags(articles);
---

<PageLayout title="Tags">
  <p>
    All tags are listed below alphabetically. <a href="/notes/">Notes</a> are organized
    separately.
  </p>
  <TagList tags={Object.entries(tags)} />
</PageLayout>
