---
layout: page
permalink: /articles/
title: Articles
---

{% set articles = collections.articles %}
{% include "partials/article-list.njk" %}

<a href="{{ '/feed/feed.xml' | url }}">Subscribe to RSS feed</a>