---
import PageLayout from "@layouts/PageLayout.astro";
import books from "../data/books.json";
import Rating from "@components/Rating.astro";

const booksByYear = {};
const inProgress = [];
const DNF = []
books.forEach((entry) => {
  const [title, author, year, rating] = entry;

  // Ignore example book
  if (title === "TITLE") return;

  const item = { title, author, rating };

  if (!year) {
    return inProgress.push(item)
  }
  if (year === "DNF") {
    return DNF.push(item)
  }

  if (!booksByYear[year]) {
    booksByYear[year] = [];
  }
  booksByYear[year].push({ title, author, rating });
});
const orderedYears = Object.keys(booksByYear).sort().reverse();
const sections = [
  { title: "In Progress", books: inProgress },
  ...orderedYears.map((year) => ({
    title: year,
    books: booksByYear[year],
  })),
  { title: "Did not finish", books: DNF },
]
---

<PageLayout title="Bookshelf" description="A list of books that I've read">
  <p>Keeping a record of and taking notes on books that I've read.</p>
  {
    sections.map(({ title, books }) => {

      const ordered = books.reverse();
      return (
        <section>
          <h2>{title}</h2>
          <ul>
            {ordered.map((book) => (
              <li>
                <span><i>{book.title}</i> by {book.author}</span>
                {book.rating && (
                  [
                    <span>·</span>
                    <Rating rating={book.rating} />
                  ]
                )}
              </li>
            ))}
          </ul>
        </section>
      );
    })
  }
</PageLayout>

<style>
  li {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }
</style>
