---
import ActivityGraph from "@components/ActivityGraph.astro";
import ArticleList from "@components/ArticleList.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Sean McPherson">
  <h1 id="title" slot="h1"><mark>Sean McP</mark>herson</h1>
  <p class="lede()">
    Christian, family&nbsp;man, software&nbsp;engineer, soccer&nbsp;fan
  </p>

  <h2>Recent</h2>

  <ArticleList count={6} />

  <br />

  <h2>Activity</h2>

  <ActivityGraph />
</PageLayout>

<style>
  h1 {
    margin-block: var(--space-xs);
    text-align: center;
  }
  mark {
    background-color: unset;
    color: unset;
    text-decoration: 0.1em underline var(--primary);
    text-underline-offset: 0.1em;
    transition: all 0.25s ease-in-out;
  }
  h1:not(:hover) mark {
    text-decoration-color: transparent;
    text-underline-offset: 1px;
  }
  p.lede\(\) {
    text-align: center;
  }
</style>
