---
import ActivityGraph from "@components/ActivityGraph.astro";
import Feed from "@components/Feed.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  documentTitle="The homepage of Sean McPherson"
  title="Sean McPherson"
>
  <p class="lede()" slot="after-h1">
    Software engineer @ <a href="https://khanacademy.org" target="_blank"
      >Khan Academy</a
    >
  </p>

  <br />

  <h2>Feed</h2>

  <Feed count={5} />

  <br />

  <h2>Activity</h2>

  <ActivityGraph />
</PageLayout>

<style>
  p {
    text-align: center;
  }
</style>
