---
import ActivityGraph from "@components/ActivityGraph.astro";
import ArticleList from "@components/ArticleList.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Sean McPherson">
  <p class="lede()">Christian, family&nbsp;man, software&nbsp;engineer, soccer&nbsp;fan</p>

  <h2>Recent</h2>

  <ArticleList count={6} />

  <br />

  <h2>Activity</h2>

  <ActivityGraph />
</PageLayout>

<style>
  p.lede\(\) {
    text-align: center;
  }
</style>
