---
import ActivityGraph from "@components/ActivityGraph.astro";
import Feed from "@components/Feed.astro";
import Pagefind from "@components/Pagefind.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  documentTitle="The homepage of Sean McPherson"
  title="Sean McPherson"
>
  <p class="lede()">
    Software engineer @ <a href="https://khanacademy.org" target="_blank"
      >Khan Academy</a
    >
  </p>

  <Pagefind />

  <!-- <h2>Feed</h2>

  <Feed count={5} />

  <h2>Activity</h2>

  <ActivityGraph /> -->
</PageLayout>

<script is:inline>
  if (location.hash === "#search") {
    const input = document.querySelector("form[role=search] > input");
    input && input.focus();
  }
</script>

<style>
  p:first-of-type {
    /* margin-block-start: 0 !important; */
  }
</style>
