---
layout: page
permalink: /notes/
title: Notes
bodyClass: notes
styles:
    - note-list.css
---

<p>Use the browser's "Find" feature to search through notes.</p>

<ul class="list">
    {% for note in collections._notes %}
        <li class="item">
            <a href={{ note.url | url }}>
                <article>
                    <div class="item__title">
                        <span>{{ note.data.author}}.</span>
                        <em>{{ note.data.reference }}.</em>
                        <span>{{ note.data.link }}</span>
                    </div>
                    <ul class="item__keywords">
                        <li><b>Keywords</b>:</li>
                        {% for keyword in note.data.keywords %}
                            <li class="item__keyword">{{ keyword }}</li>
                        {% endfor %}
                    </ul>
                </article>
            </a>
        </li>
    {% endfor %}
</ul>