---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - article
    - articles
layout: page
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
styles:
  - article-list.css
---
{% set articles = collections[tag] %}
{% include "partials/article-list.njk" %}

<p>
  <a href="{{ '/tags/' | url }}">View all tags</a>.</p>