<section class="bio">
    <div class="content-container">
        <div class="bio__content">
            <img class="bio__image" src="/img/seanmcp.svg" alt="An illustration of Sean McPherson's face"/>
            <div class="bio__details --clear-child-margins">
                <p>My name is Sean McPherson, and I'm a software developer and educator living in Pittsburgh, PA.</p>
                <p>I write about React, JavaScript, accessibility, user experience, and occasionally some other topics.</p>
            </div>
        </div>
    </div>
</section>