<header class="header">
    <div class="content-container header__content">
        <a class="home-link" href="{{ '/' | url }}">
            <img class="home-link__image" src="/img/seanmcp.2020.min.webp" alt="SeanMcP headshot" />
            <span class="home-link__text">Sean McP</span>
        </a>
        <nav id="desktop-nav" class="nav">
            {%- for nav in navItems -%}
                <a {% if nav.url == page.url %}aria-current="true"{% endif %} class="nav__item" href="{{ nav.url | url }}">{{ nav.data.navTitle }}</a>
            {%- endfor -%}
        </nav>
        <section id="mobile-nav">
            <button aria-label="open navigation">Menu</button>
            <div id="mobile-nav__container" hidden>
                <button aria-label="close navigation">Close</button>
                <nav aria-label="mobile nav">
                    {%- for nav in navItems -%}
                        <a {% if nav.url == page.url %}aria-current="true"{% endif %} class="mobile-nav__item" href="{{ nav.url | url }}">{{ nav.data.navTitle }}</a>
                    {%- endfor -%}
                </nav>
            </div>
        <script src="/js/mobile-nav.js"></script>
    </div>
    <div id="scroll-progress"><span></span></div>
</header>