{% set currentUrl = page.url | url | absoluteUrl(metadata.url) %}
{% set pageDescription = renderData.description or description or metadata.description %}
{% set pageTitle = renderData.title or title or metaData.title %}
{% set siteTitle = "SeanMcP.com" %}
{% set socialImage = image | url | absoluteUrl(metadata.url) if image else 'img/seanmcp_illustration.png' | url | absoluteUrl(metadata.url) %}

<title>{{ pageTitle }} - {{ siteTitle }}</title>
<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta name="twitter:title" content="{{ pageTitle }}">

<meta name="description" content="{{ pageDescription }}">
<meta property="og:description" content="{{ pageDescription }}" />
<meta name="twitter:description" content="{{ pageDescription }}">

<meta property="og:image" content="{{ socialImage }}" />
<meta name="twitter:image" content="{{ socialImage }}">

{# Open Graph #}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@snmcp">