<section>
  <h2>About<span class="--visually-hidden">&nbsp;the author</span></h2>
  <img alt="" loading="lazy" src="/img/seanmcp_thumbnail.png" />
  <p>
    Sean McPherson is a software engineer for Khan Academy who specializes in
    web development. He lives with his wife, sons, and dog in Pittsburgh, PA.
  </p>
</section>

<style>
  section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 5rem auto;
  }

  h2 {
    grid-column: 1 / span 2;
    margin: 0;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
  }
</style>
