<section>
  <div class="container --content --clear-child-margins">
    <h2>About<span class="--visually-hidden">&nbsp;the author</span></h2>
    <div class="bio__content">
      <img alt="" loading="lazy" src="/img/seanmcp_thumbnail.png" />
      <p>
        Sean McPherson is a software engineer for Khan Academy who specializes
        in web and mobile app development. He lives with his wife, sons, and dog
        in Pittsburgh, PA. (SDG)
      </p>
    </div>
  </div>
</section>

<style>
  .bio__content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 5rem auto;
  }

  .bio__content p {
    margin: 0;
  }

  img {
    width: 100%;
  }
</style>
