<label data-size={Astro.props.size}>
  <input
    aria-label="toggle bookmarked"
    id="bookmark-toggle"
    class="--visually-hidden"
    type="checkbox"
    data-url={Astro.url.pathname}
  />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    width="192"
    height="192"
    fill="#000000"
    viewBox="0 0 256 256"
  >
    <rect width="256" height="256" fill="none"></rect>
    <path
      d="M192,224l-64-40L64,224V48a8,8,0,0,1,8-8H184a8,8,0,0,1,8,8Z"
      fill="none"
      stroke="#000000"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="16"
    >
    </path>
  </svg>
</label>

<style>
  label {
    --size: 36px;
    cursor: pointer;
    display: inline-flex;
    height: var(--size);
    place-items: center;
    position: relative;
    width: var(--size);
  }
  label[data-size=small] {
    --size: 24px;
  }
  input:not([data-bookmarked]) + svg {
    opacity: 0;
  }
  svg {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  svg path {
    stroke: var(--off-background);
  }
  input[data-bookmarked="true"] + svg path {
    fill: currentColor;
    stroke: currentColor;
  }
</style>
