---
const imagesByName = {
  Ezra: ["soccer", "basketball", "volleyball", "hockey"],
  Sam: ["spot", "spidey", "off-off-and-away", "gorilla"],
};

export interface Props {
  name: keyof typeof imagesByName;
}

const { name } = Astro.props;

const images = imagesByName[name];
---

<section>
  {
    images.map((filename) => (
      <img alt={filename} src={`/img/${filename}.gif`} />
    ))
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    transition: transform 100ms ease-in-out;
    width: 100%;
  }

  img:hover {
    transform: scale(1.25);
  }
</style>
