<label>
  <span class="--visually-hidden">Toggle theme</span>
  <input class="--visually-hidden" type="checkbox" id="dark-mode" />
  <svg
    class="moon"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="#000000"
    viewBox="0 0 256 256"
  >
    <path
      d="M216.7,152.6A91.9,91.9,0,0,1,103.4,39.3h0A92,92,0,1,0,216.7,152.6Z"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"
    >
    </path>
  </svg>
  <svg
    class="sun"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="#000000"
    viewBox="0 0 256 256"
  >
    <circle
      cx="128"
      cy="128"
      r="60"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"
    >
    </circle>
    <line
      x1="128"
      y1="28"
      x2="128"
      y2="12"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>

    <line
      x1="198.7"
      y1="57.3"
      x2="210"
      y2="46"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>
    <line
      x1="228"
      y1="128"
      x2="244"
      y2="128"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>
    <line
      x1="198.7"
      y1="198.7"
      x2="210"
      y2="210"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>
    <line
      x1="128"
      y1="228"
      x2="128"
      y2="244"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>
    <line
      x1="57.3"
      y1="198.7"
      x2="46"
      y2="210"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>
    <line
      x1="28"
      y1="128"
      x2="12"
      y2="128"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>
    <line
      x1="57.3"
      y1="57.3"
      x2="46"
      y2="46"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="24"></line>
  </svg>
</label>

<style>
  label {
    align-items: center;
    display: flex;
  }
  label:where(:focus-within, :hover) {
    color: var(--anchor-color);
  }
  label:focus-within {
    outline: 2px solid var(--anchor-color);
    outline-offset: 2px;
  }
  input:not([checked]) ~ .moon {
    display: none;
  }
  input[checked] ~ .sun {
    display: none;
  }
</style>

<script>
  (function darkMode() {
    const darkModeCheckbox =
      document.querySelector<HTMLInputElement>("#dark-mode")!;

    const STORAGE_KEY = "com.seanmcp.theme";

    function lightsOff() {
      document.body.dataset.theme = "dark";
      darkModeCheckbox.setAttribute("checked", "true");
    }

    const storedTheme = localStorage.getItem(STORAGE_KEY);
    if (storedTheme) {
      if (storedTheme === "dark") lightsOff();
    } else if (
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
      lightsOff();
    }

    darkModeCheckbox.addEventListener("change", (event) => {
      const target = event.target as HTMLInputElement;
      if (target.checked) {
        target.setAttribute("checked", "true");
      } else {
        target.removeAttribute("checked");
      }
      const nextTheme = target.checked ? "dark" : "default";
      localStorage.setItem(STORAGE_KEY, nextTheme);
      document.body.dataset.theme = nextTheme;
    });
  })();
</script>
