<a aria-current={Astro.url.pathname === "/"} aria-label="SeanMcP.com" class="focused" href="/">
  <svg width="36" height="24" version="1.1" viewBox="0 0 7.9375 5.2917" xmlns="http://www.w3.org/2000/svg">
    <g>
     <path d="m0 2.6458 2.6458-2.6458 2.6458 2.6458-2.6458 2.6458z" fill="currentColor"/>
     <path d="m5.2917 0v5.2917l2.6458-2.6458z" fill="currentColor"/>
    </g>
   </svg>
</a>

<style>
  a {
    display: flex;
  }

  a:not(:is(:hover,:focus)) {
    color: var(--text-color);
  }

  svg {
    position: relative;
  }

  path {
    transform-origin: 82.5% 50%;
  }
</style>
