<a aria-label="SeanMcP.com" href="/"></a>

<style>
  a {
    --transition: opacity 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    background: var(--text-color);
    border-bottom: none !important;
    color: var(--background) !important;
    display: block;
    height: 2rem;
    position: relative;
    width: 2rem;
  }

  a::after,
  a::before {
    position: absolute;
  }

  a::before {
    background: linear-gradient(to bottom right, var(--primary), var(--accent));
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    right: 0;
    top: 0;
    transition: var(--transition);
  }

  a::after {
    bottom: 0;
    color: var(--background);
    content: "SM";
    font-size: 0.825rem;
    font-weight: bold;
    right: 2px;
    transition: var(--transition);
  }

  a:hover::before,
  a:focus::before {
    opacity: 1;
  }

  a:hover::after {
    color: white;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 30%);
  }
</style>
