---
import { readableDate } from "../utils";
import BookmarkToggle from "./BookmarkToggle.astro";

const { date, edited, number } = Astro.props;
---

<article>
  <div>
    <header>
      <h1>Note #{number}</h1>
      <span>
        <a href={`/notes/${number}`}><time datetime={date}>{readableDate(date)}</time></a>
        {edited && <span>(Edited)</span>}
      </span>
      <BookmarkToggle size="small" />
    </header>
    <slot />
  </div>
</article>

<style>
  header {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    /* Offset SVG's padding */
    margin-right: -0.75rem;
  }

  header h1 {
    font-size: 1rem;
    margin: 0;
  }

  header span {
    margin-right: auto;
  }

  div {
    border: 2px solid var(--off-background);
    padding: 0 1rem;
  }
</style>
