---
import { readableDate } from "../utils";

const { date, edited, number } = Astro.props;

if (number == "40") console.log("Note.astro", date);
---

<article>
  <header>
    <a href={`/notes/${number}`}>
      <time datetime={date}>{readableDate(date)}</time>
    </a>
    {edited && <span>(Edited)</span>}
  </header>
  <slot />
</article>

<style>
  header {
    text-align: right;
  }
</style>
