---
import Note from "@components/Note.astro";
import { getNotes } from "src/utils";

interface Props {
  count?: number;
  headingLevel?: number;
}

const { count, headingLevel } = Astro.props;

const notes = await getNotes();
---

{
  count === 1 ? (
    <Note {...notes[0]} headingLevel={headingLevel} />
  ) : (
    <div class="stack">
      {notes.slice(0, count).map((note) => (
        <Note {...note} headingLevel={headingLevel} />
      ))}
    </div>
  )
}

<style>
  .stack {
    --stack-space: 2rem;
  }
</style>
