<footer class="contain(full) stack()">
  <span>
    <a href="#top">Back to top</a>
  </span>
  <div>Since 2018 (SDG)</div>
</footer>

<style>
  footer {
    background: linear-gradient(to bottom, transparent, var(--extra-dark));
    text-align: center;
  }

  div {
    color: var(--lighter-text-color);
  }
</style>
