---
import navigation from "../data/navigation";
import DarkModeToggle from "./DarkModeToggle.astro";
import LogoLink from "./LogoLink.astro";
---

<header>
  <div class="cc">
    <LogoLink />
    <nav aria-label="primary">
      {
        navigation.primary.map((item) => {
          return (
            <a
              aria-current={
                [Astro.url.pathname, Astro.url.pathname + "/"].includes(
                  item.url
                )
                  ? "page"
                  : null
              }
              href={item.url}
            >
              {item.label}
            </a>
          );
        })
      }
    </nav>
    <DarkModeToggle />
  </div>
  <div id="scroll-progress">
    <span></span>
  </div>
</header>

<style>
  header {
    background: var(--background);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: box-shadow 100ms ease-in-out;
    z-index: 1;
  }

  body[data-scrolling] header {
    box-shadow: 0 0 0.5rem 0 var(--off-background);
  }

  .cc {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  nav {
    margin-left: auto;
  }

  #scroll-progress {
    background: linear-gradient(to right, var(--primary), var(--accent));
    bottom: 0;
    display: flex;
    height: 2px;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    right: 0;
  }

  #scroll-progress span {
    background: var(--background);
    flex-basis: 100%;
    justify-self: end;
  }

  nav a {
    font-weight: bold;
  }

  nav a:not(:last-child) {
    margin-right: 1rem;
  }
</style>
