<footer class="contain(full)">
  <div>
    <span>Since 2018 (SDG)</span>
    <a href="#top">Back to top</a>
  </div>
</footer>

<style>
  footer {
    background: linear-gradient(to bottom, transparent, var(--extra-dark));
  }
  div {
    align-items: center;
    display: flex;
    gap: var(--space-s);
    justify-content: space-between;
  }
</style>
