<a href="#main">Skip to main content</a>

<style>
  a {
    background-color: var(--primary);
    color: white !important;
    font-weight: bold;
    position: fixed;
    padding: 1rem;
    z-index: 9999;
  }

  a:not(:focus) {
    right: 200%;
  }

  a:focus {
    left: 0;
    outline: 2px dotted white !important;
  }
</style>
