<footer class="SiteFooter">
    <div class="ContentContainer">
        <div class="SiteFooter__content">
            <div class="SiteFooter__block">
                <h6>
                    Copyright
                </h6>
                <p>© Sean McPherson</p>
            </div>
            <div class="SiteFooter__block">
                <h6>
                    Social
                </h6>
                <nav>
                    <a href="https://github.com/seanmcp">
                        <i class="fab fa-github" role="img" aria-hidden="true"></i>
                        <span>GitHub</span>
                    </a>
                    <a href="https://twitter.com/_seanmcp">
                        <i class="fab fa-twitter" role="img" aria-hidden="true"></i>
                        <span>Twitter</span>
                    </a>
                    <a href="https://linkedin.com/in/seanmcp">
                        <i class="fab fa-linkedin" role="img" aria-hidden="true"></i>
                        <span>LinkedIn</span>
                    </a>
                </nav>
            </div>
            <div class="SiteFooter__block SDG">
                <h6>
                    SDG
                </h6>
                <p
                            title="And whatever you do in word or deed, do all in the name of the Lord Jesus, giving thanks to God the Father through Him. — Col. 3:17 (NKJV)"
                            aria-label="And whatever you do in word or deed, do all in the name of the Lord Jesus, giving thanks to God the Father through Him. — Col. 3:17 (NKJV)"
                            tabindex="0"
                        >
                            Colossians 3:17
                        </p>
            </div>
        </div>
    </div>
</footer>