<div class="SocialShare">
    <span class="SocialShare__title">Share:</span>
    <ul class="--slash-separated">
        <li>
            <a class="SocialShare__link--twitter" href="https://twitter.com/intent/tweet?text=“{{ title }}” by @mcpcode — {{ url }}" target="_blank" rel="noopener noreferrer">Twitter</a>
        </li>
        <li>
            <a class="SocialShare__link--reddit" href="https://reddit.com/submit?url={{ url }}" target="_blank" rel="noopener noreferrer">Reddit</a>
        </li>
        <li>
            <a class="SocialShare__link--linkedin" href="https://linkedin.com/shareArticle?url={{ url }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </li>
    </ul>
</div>