<div class="TagList">
    {% for tag in tags %}
        {%- if tag != "articles" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="Tag Tag--{{ tag }}">
                <span>{{ tag | capitalize }}</span>
            </a>
        {%- endif -%}
    {% endfor %}
</div>