<ul class="TagList --inline-list">
    {% for tag in tags %}
        {%- if tag != "articles" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li>
                <a href="{{ tagUrl | url }}" class="Tag Tag--{{ tag }}">{{ tag }}</a>
            </li>
        {%- endif -%}
    {% endfor %}
</ul>