---
import GardenDetails from "@components/GardenDetails.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getGardens } from "src/utils";

const gardens = await getGardens();
---

<PageLayout title="Gardens">
  <p>
    Digital gardens are collections of notes and information that will grow and
    change over time.
  </p>
  {
    gardens.map((garden) => (
      <article class="stack(xs)">
        <a href={`/gardens/${garden.slug}`}>{garden.data.title}</a>
        <p>{garden.data.description}</p>
        <GardenDetails tendedDates={garden.data.tendedDates} />
      </article>
    ))
  }
</PageLayout>

<style>
  article a {
    font-weight: bold;
  }
</style>
