/* Elements */

pre,
code,
kbd {
  font-family: var(--mono-font);
  line-height: 1.5;
}

kbd,
code:not([class]) {
  font-size: var(--font-small);
  padding: 0 4px;
}

:not(pre) > code:not([class]) {
  background: #e3f2fd;
  color: #0d47a1;
}

kbd {
  background: var(--off-white);
  border: 1px solid var(--faint-gray);
  border-radius: 4px;
  border-bottom-width: 2px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--dark-blue);
}

a:hover,
a:focus {
  color: var(--light-blue);
  text-decoration: underline;
}

a:active {
  color: var(--red);
}

hr {
  background: var(--border-color);
  border: none;
  height: 1px;
  margin: 2rem 0;
}

/* Type */

li, p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.0rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}

blockquote {
  border-left: 4px solid var(--text-color);
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 1.5rem;
}

blockquote p {
  font-style: italic;
  line-height: 1.25;
  margin: 0;
}

li ol, li ul {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

ul.--inline-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.--inline-list li {
  display: inline-block;
  margin-bottom: 1.25rem; /* This is a magic number, but makes a standard gutter */
}

@media screen and (max-width: 672px) {
  ul.--inline-list {
    display: block;
    margin-top: 0.5rem;
  }
}

ul.--slash-separated li:not(:last-of-type)::after {
  color: var(--faint-gray);
  content: '/';
  margin: 0 0.25rem;
}

/* Helpers */

.--clear-child-margins > *:first-child {
  margin-top: 0;
}

.--clear-child-margins > *:last-child {
  margin-bottom: 0 !important;
}


/* Site header */

/* Note: Most of the header styles are in src/_includes/critical.css */

#scroll-progress {
  background: var(--hero-background);
  content: '';
  left: 0;
  height: 0.25rem;
  position: absolute;
  right: 0;
  top: 100%;
}

#scroll-progress span {
  background: hsla(0, 0%, 13%, 50%);
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%; /* Initially */
}

/* Main navigation */

a.nav__item,
a.mobile-nav__item {
  color: white;
  text-decoration: none;
}

.nav__item:hover,
.nav__item[aria-current="true"]:focus,
a.nav__item[aria-current="true"] {
  border-bottom: 2px solid white;
}

#desktop-nav .nav__item + .nav__item {
  margin-left: 1rem;
}

/* Mobile nav */

/* NOTE: Display breakpoint in src/_includes/critical.css */

#mobile-nav button {
  background: transparent;
  border: 0;
  font-size: inherit;
  color: var(--alt-text-color);
  height: 2rem;
}

#mobile-nav button:hover {
  background: var(--alt-text-color);
  color: var(--text-color);
}

#mobile-nav__container:not([hidden]) {
  display: flex;
}

#mobile-nav__container {
  align-items: center;
  background: var(--dark);
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

#mobile-nav__container button[aria-label="close navigation"] {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#mobile-nav__container nav {
  display: grid;
  font-size: 2rem;
  gap: 0.5rem;
  text-align: center;
}

.mobile-nav__item {
  padding: 4px;
}

.mobile-nav__item[aria-current="true"] {
  text-decoration: underline;
}

.mobile-nav__item:focus,
.mobile-nav__item:hover {
  text-decoration: none;
}

.mobile-nav__item:focus {
  box-shadow: 0 0 0 4px var(--accent);
  outline: 5px solid transparent;
}

.mobile-nav__item:hover {
  background: var(--alt-text-color);
  color: var(--dark);
}

/* ============ CONTENT ============ */

.date {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.article-list {
  list-style: none;
  padding: 0;
}

li.article-list__item {
  margin-bottom: 2rem;
}

.article-list__item {
  display: grid;
  gap: 0.25rem;
}

.article-list__item p {
  margin: 0;
}

.article-list__link {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Direct Links / Markdown Headers */
a.direct-link {
  text-decoration: none;
  font-style: normal;
  margin-left: 0.125em;
  text-decoration: none;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--gray);
}

a[href].direct-link:hover {
  color: var(--blue);
}

/* Site footer */

.footer {
  background: var(--dark);
  color: var(--alt-text-color);
}

.footer__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 672px) {
  .footer__content {
    grid-template-columns: initial;
  }
}

.footer__block-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
  text-transform: uppercase;
}

.footer__block nav a {
  color: var(--alt-text-color);
  display: block;
  text-decoration: none;
}

.footer__block nav a:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

.footer__block nav a:hover,
.footer__block nav a:focus {
  text-decoration: underline;
}

.footer__block p {
  line-height: 1rem;
  margin: 0;
}

.SDG blockquote {
  margin: 0;
}

.SDG cite {
  display: block;
  margin-top: 0.5rem;
}