/* Elements */

pre,
code,
kbd {
  font-family: var(--mono-font);
  line-height: 1.5;
}

kbd,
code:not([class]) {
  font-size: var(--font-small);
  padding: 0 4px;
}

:not(pre) > code:not([class]) {
  background: #e3f2fd;
  color: #0d47a1;
}

kbd {
  background: var(--off-white);
  border: 1px solid var(--faint-gray);
  border-radius: 4px;
  border-bottom-width: 2px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--dark-blue);
}

a:hover,
a:focus {
  color: var(--light-blue);
  text-decoration: underline;
}

a:active {
  color: var(--red);
}

hr {
  background: var(--border-color);
  border: none;
  height: 1px;
  margin: 2rem 0;
}

/* Type */

li,
p {
  line-height: 1.5;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1rem;
}

:root {
  --heading-scale: 0.75rem;
}

@media screen and (min-width: 500px) {
  :root {
    --heading-scale: 1rem;
  }
}

h1 {
  font-size: calc(var(--heading-scale) * 4);
}
h2 {
  font-size: calc(var(--heading-scale) * 2);
}
h3 {
  font-size: calc(var(--heading-scale) * 1.5);
}
h4 {
  font-size: calc(var(--heading-scale) * 1.25);
}
h5 {
  font-size: calc(var(--heading-scale) * 1);
}
h6 {
  font-size: calc(var(--heading-scale) * 0.875);
}

blockquote {
  border-left: 4px solid var(--text-color);
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 1.5rem;
}

blockquote p {
  font-style: italic;
  line-height: 1.25;
  margin: 0;
}

li ol,
li ul {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.tag-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Helpers */

.--clear-child-margins > *:first-child {
  margin-top: 0;
}

.--clear-child-margins > *:last-child {
  margin-bottom: 0 !important;
}

/* Site header */

/* Note: Most of the header styles are in src/_includes/critical.css */

#scroll-progress {
  background: var(--hero-background);
  content: "";
  left: 0;
  height: var(--scroll-progress-height);
  position: fixed;
  right: 0;
  top: 0;
}

#scroll-progress span {
  background: hsla(0, 0%, 100%, 50%);
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%; /* Initially */
}

/* Main navigation */

.site-link {
  text-decoration: none;
}

.site-link:hover,
.site-link[aria-current="true"]:focus,
.site-link[aria-current="true"] {
  text-decoration: underline;
}

/* ============ CONTENT ============ */

.page {
  background: white;
}

.date {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.article-list {
  list-style: none;
  padding: 0;
}

.article-list__item > * {
  display: block;
  margin: 0;
}

.article-list__item:not(:last-of-type) {
  margin-bottom: 2rem;
}

.article-list__link {
  font-size: 1.25rem;
  /* font-weight: bold; */
}

/* Direct Links / Markdown Headers */
a.direct-link {
  text-decoration: none;
  font-style: normal;
  margin-left: 0.125em;
  text-decoration: none;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--gray);
}

a[href].direct-link:hover {
  color: var(--blue);
}

/* Site footer */

.footer {
  background: var(--dark);
  color: var(--alt-text-color);
}

.footer .nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer .nav .site-link {
  color: white;
}

.footer__attribution {
  color: var(--alt-text-color--light);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
