pre[class*="language-"],
code[class*="language-"] {
  color: #fafafa;
  font-size: 14px;
  text-shadow: none;
  font-family: var(--mono-font);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #bbdefb;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  /* padding: 1em; */
  margin: .5em 0;
  overflow: auto;
  background: #212121;
}
:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  /* border-radius: .3em; */
  font-size: 0.9em;
  color: #0d47a1;
  background: #e3f2fd;
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: .7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #ababab;
}
.token.punctuation {
  color: #bdbdbd;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #CE93D8;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #8bc34a;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #bdbdbd;
  background: rgba(255, 255, 255, 0.075);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #64b5f6;
}
.token.function {
  color: #F48FB1;
}
.token.regex,
.token.important,
.token.variable {
  color: #ffa726;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 5px 0 0 #42a5f5;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.footnotes ol {
  padding-left: 2rem;
}

.footnotes ol, .footnotes li > *:last-child {
  margin-bottom: 0;
}
