.tag-list li:not(:last-of-type) {
    margin-right: 0.5rem;
}

.tag {
  background: var(--faint-gray);
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.tag,
.tag:visited {
  color: var(--text-color);
}

.tag:active,
.tag:focus,
.tag:hover {
  background: var(--blue);
  color: white;
  text-decoration: none;
}
