---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.feed.subtitle }}</subtitle>
    <link href="{{ metadata.feed.url }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.articles | rssLastUpdatedDate }}</updated>
    <id>{{ metadata.feed.id }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for article in collections.articles %}
        {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <entry>
            <title>{{ article.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ article.date | rssDate }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html">{{ article.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </entry>
    {%- endfor %}
</feed>