.Article__header h1 {
  margin-top: 1rem;
}

.Article__content {
  padding-bottom: 2rem;
}

.Article__footer {
  border-top: 2px solid var(--transparent-border);
  padding-top: 2rem;
}

.Article__tags {
  align-items: center;
  display: flex;
  margin-top: 1rem;
}

.Article__tags_title {
  font-weight: bold;
  margin-right: 0.5rem;
}

@media screen and (max-width: 44rem) {
  .Article__tags {
    align-items: flex-start;
  }

  .Article__tags_title {
    padding: 0.125rem 0;
  }
}