.ArticleList {
  list-style: none;
  padding: 0;
}

li.ArticleList__item {
  margin-bottom: 2rem;
}

.ArticleList__item {
  display: grid;
  gap: 0.25rem;
}

.ArticleList__item p {
  margin: 0;
}

.ArticleList__item .Date {
  border-bottom: none;
}

.ArticleList__link {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
}
