.article-list {
  list-style: none;
  padding: 0;
}

li.article-list__item {
  margin-bottom: 2rem;
}

.article-list__item {
  display: grid;
  gap: 0.25rem;
}

.article-list__item p {
  margin: 0;
}

.article-list__item .date {
  border-bottom: none;
}

.article-list__link {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
}
