.ArticleList {
  list-style: none;
  padding: 0;
}

li.ArticleList__item {
  margin-bottom: 2rem;
}

.ArticleList__link {
  margin: 1rem 0;
}

.ArticleList__link {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
