.ArticleList {
  list-style: none;
  padding: 0;
}

.ArticleList__item {
  display: grid;
  grid-gap: 0.5rem;
}

.ArticleList__item {
  margin-bottom: 2rem;
}

.ArticleList__meta {
  align-items: center;
  display: flex;
}

@media screen and (max-width: 44rem) {
  .ArticleList__meta {
    display: grid;
    grid-gap: 0.5rem;
  }

  .ArticleList__date::after {
    display: none;
  }
}

.ArticleList__link {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.ArticleList__description {
  border-bottom: 1px solid var(--gray300);
  margin: 0;
  padding-bottom: 0.5rem;
}

.ArticleList__date::after {
  content: ' in';
  margin-right: 0.25rem;
}
