.Article__header h1 {
  margin-top: 1rem;
}

.Article__content {
  padding-bottom: 2rem;
}

.Article__footer, .Article hr {
  border-top: 2px solid var(--transparent-border);
}

.Article hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 2rem 0;
}

.Article__footer {
  padding-top: 2rem;
  
}

.Article__tags {
  margin-top: 1rem;
}

.Article__tags_title {
  font-weight: bold;
  margin-right: 0.5rem;
}


.Article__content img {
  width: 100%;
}

.article__sdg {
    opacity: 0.5;
    text-align: right;
    transition: opacity 200ms ease-in-out;
}

.article__sdg:hover {
    opacity: 0.75;
}