.bio {
  background: var(--gray300);
}

.bio__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 8rem 1fr;
}

.bio__image {
  border: 0.25rem solid white;
  border-radius: 16rem;
  margin: 0 auto;
  max-width: 8rem;
  width: 100%;
}

@media screen and (max-width: 672px) {
  .bio__content {
    grid-template-columns: initial;
  }
}
