.footer {
  background: var(--dark);
  color: var(--text-alt);
}

.footer__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 672px) {
  .footer__content {
    grid-template-columns: initial;
  }
}

.footer__block-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

.footer__block nav a {
  color: var(--text-alt);
  text-decoration: none;
}

.footer__block nav a:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

.footer__block nav a:hover,
.footer__block nav a:focus {
  text-decoration: underline;
}

.footer__block p {
  line-height: 1rem;
  margin: 0;
}

.SDG blockquote {
  margin: 0;
}

.SDG cite {
  display: block;
  margin-top: 0.5rem;
}
