.Header {
    background-color: var(--blue900);
    background-image: url('../az-subtle.png');
}

a.Header__logo {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

a.Header__logo, a.Header__logo:visited {
    color: white;
}

a.Header__logo:hover, a.Header__logo:focus {
    color: var(--amber600);
}