.Header {
    background-color: var(--blue900);
}

.Header__logo-container {
    display: block;
    text-align: right;
}

a.Header__logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: -0.0675rem -0.25rem;
    padding: 0.0675rem 0.25rem;
    text-decoration: none;
}

a.Header__logo, a.Header__logo:visited {
    color: white;
}

a.Header__logo:hover, a.Header__logo:focus {
    background: white;
    color: var(--blue900);
}