.hero {
  background: var(--hero-background);
  color: white;
}

.main--article .hero {
  padding: 1rem 0;
}

.hero--with-image {
  background-position: center;
  background-size: cover;
  height: 22rem;
  margin: 0 auto;
  max-width: 44rem;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 44rem) {
  .hero--with-image {
    margin-top: 2rem;
  }
}

.hero--with-image .article__header {
  --spacing: 2rem;
  background: black;
  bottom: var(--spacing);
  display: inline-block;
  left: var(--spacing);
  margin: -0.5rem;
  padding: 0.5rem;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .hero--with-image {
    height: 16rem;
  }

  .hero--with-image .article__header {
    --spacing: 1rem;
  }
}

.hero--with-image .date {
    padding-top: 0;
}
