.hero {
  background: var(--hero-background);
  color: white;
}

.main--article .hero {
  padding: 1rem 0;
}

.hero--with-image {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.hero--with-image .content-container {
    margin-top: 40vh;
}

.hero--with-image .article__header {
  background: black;
  display: inline-block;
  margin: -0.5rem;
  padding: 0.5rem;
}

.hero--with-image .date {
    padding-top: 0;
}

.hero--with-image::before {
  background: var(--hero-background);
  content: '';
  height: 0.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}
