.hero {
  background: linear-gradient(to right, var(--blue900), var(--cyanA700));
  color: white;
}

.hero--article {
  padding: 1rem 0;
}

.hero--with-image {
  background-attachment: fixed;
  background-size: cover;
}

.hero--with-image .ContentContainer {
    margin-top: 50vh;
}

.hero--with-image .article__header {
  background: black;
  display: inline-block;
  margin: -0.5rem;
  padding: 0.5rem;
}

.hero--with-image .Date {
    padding-top: 0;
}
