a.nav__item {
  color: white;
  text-decoration: none;
}

.nav__item:hover,
.nav__item--active:focus,
a.nav__item--active {
  border-bottom: 2px solid white;
}

.nav__item + .nav__item {
  margin-left: 1rem;
}
