.Tag {
  background: var(--dark);
  color: var(--text-alt);
  display: inline-block;
  font-size: var(--font-small);
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none !important;
}

.Tag:active,
.Tag:hover,
.Tag:focus {
  box-shadow: 0 0 0 4px var(--blue200);
  color: var(--blue200);
  outline: 2px solid white;
}