a.Tag {
  background: var(--dark);
  display: inline-block;
  font-size: var(--font-small);
  padding: 0.125rem 0.25rem;
  text-decoration: none;
}

.Tag,
.Tag:visited {
  color: var(--text-alt);
}

.Tag:hover,
.Tag:focus {
  background: var(--amber900);
  color: white;
}

.Tag + .Tag {
  margin-left: 0.25rem;
}