---
layout: page
tags:
  - nav
navTitle: Articles
permalink: /articles/
title: Articles
---

{% set articles = collections.articles %}
{% include "components/ArticleList.njk" %}

<a href="{{ '/feed/feed.xml' | url }}">Subscribe to RSS feed</a>