---
layout: page
permalink: /
---

<h2>Recent Articles</h2>

{% set articles = collections.articles | head(-4) %}
{% include "components/ArticleList.njk" %}

<p>More articles can be found in <a href="{{ '/articles/' | url }}">the archive</a>.</p>