---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
layout: page
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Articles tagged “{{ tag }}”</h1>

{% set articles = collections[tag] %}
{% include "components/ArticleList.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>