---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h2>Tagged “{{ tag }}”</h2>

{% set articleslist = collections[tag] %}
{% include "components/articles-list.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>