---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
layout: page
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% set articles = collections[tag] %}
{% include "components/ArticleList.njk" %}

<p><a href="{{ '/tags/' | url }}">View all tags</a>.</p>