.article__header h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.article__header h1 a {
  color: white;
  opacity: 0;
}

.article__header h1:hover a {
  opacity: 1;
}

.article__content {
  padding-bottom: 2rem;
}

.article__footer,
.article hr {
  border-top: var(--border);
}

.article hr {
  background: none;
}

.article__footer {
  padding-top: 2rem;
}

.article__tags {
  margin-top: 1rem;
}

.article__tags_title {
  font-weight: bold;
  margin-right: 0.5rem;
}

.article__content img {
  width: 100%;
}

.article__content hr {
  border-top: 4px dotted var(--gray300);
  max-width: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.article__sdg {
  display: block;
  margin-top: 0;
  text-align: right;
}

.article__sdg a {
  color: var(--text);
  opacity: 0.125;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
}

.article__sdg a:focus,
.article__sdg a:hover {
  opacity: 0.5;
}

.article__sdg a:focus {
  outline: 2px solid dodgerblue;
  outline-offset: 0.25rem;
}

.article__sdg a:hover {
  text-decoration: underline;
}
