---
layout: layouts/base.njk
templateClass: ArticleTemplate
---

<div class="ContentContainer">
    <article class="Article">
        <header class="Article__header">
            <date>{{ date | readableDate }}</date>
            <h1>{{ title }}</h1>
        </header>
        {{ content | safe }}
        <footer class="Article__footer">
            {% for tag in tags %}
                {%- if tag != "articles" -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                Category: <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
                {%- endif -%}
            {% endfor %}
        </footer>
    </article>
</div>

{% include "components/bio.njk" %}