---
layout: base
templateClass: ArticleTemplate
---

<div class="ContentContainer">
    <article class="Article">
        <header class="Article__header">
            <date>{{ date | readableDate }}</date>
            <h1>{{ title }}</h1>
        </header>
        {{ content | safe }}
        <footer class="Article__footer">
            {% include "components/TagList.njk" %}
        </footer>
    </article>
</div>

{% include "components/Bio.njk" %}