<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ renderData.title or title or metadata.title }} - SeanMcP.com</title>
        <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@_seanmcp">
        <meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}">
        <meta name="twitter:description" content="{{ renderData.description or description or metadata.description }}">
        <meta name="twitter:image" content="{{ 'img/seanmcp_illustration.png' | url | absoluteUrl(metadata.url) }}">
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="shortcut icon" href="{{ '/img/seanmcp_illustration.png' | url }}" type="image/png">
    </head>
    <body>
        {% set navItems = collections.nav %}
        {% include "components/Header.njk" %}

        <main id="main" role="main" class="Main {% if templateClass %}{{ templateClass }}{% endif %}">
            {{ content | safe }}
        </main>

        {% include "components/Footer.njk" %}
        <!-- Current page: {{ page.url | url }} -->
    </body>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</html>