<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ renderData.title or title or metadata.title }}</title>
        <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    </head>
    <body>
        <header id="SiteHeader">
            <div class="ContentContainer">
                <p class="SiteHeader__home">
                    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
                </p>
                <nav id="SiteNav">
                    {%- for nav in collections.nav | reverse -%}
                        <a class="SiteNav__item{% if nav.url == page.url %} SiteNav__item--active{% endif %}" href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
                    {%- endfor -%}
                </nav>
            </div>
        </header>

        <main id="SiteMain" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
            {{ content | safe }}
        </main>

        {% include "components/footer.njk" %}
        <!-- Current page: {{ page.url | url }} -->
    </body>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</html>