---
layout: page
permalink: /
---

{{ content | safe }}

<h2>Recent Articles</h2>

{% set articles = collections.articles | head(-4) %}
{% include "components/ArticleList.njk" %}

<p><a href="{{ '/articles/' | url }}">View more articles</a>.</p>