---
layout: base
templateClass: page
---
{%- if title or renderData.title -%}
<section class="hero">
    <div class="content-container --clear-child-margins">
        <h1>{{ title or renderData.title }}</h1>
    </div>
</section>
{%- endif -%}
<div class="content-container">
    <div class="--clear-child-margins">
        {{ content | safe }}
    </div>
</div>