---
layout: base
templateClass: Page
---
{%- if title or renderData.title -%}
<section class="hero hero--page">
    <div class="ContentContainer --clear-child-margins">
        <h1>{{ title or renderData.title }}</h1>
    </div>
</section>
{%- endif -%}
<div class="ContentContainer">
    <div class="Page__content --clear-child-margins">
        {{ content | safe }}
    </div>
</div>