---
import PageLayout from "./PageLayout.astro";
import ArticleList from "../components/ArticleList.astro";
import { getSortedContent } from "../utils";

const articles = getSortedContent(await Astro.glob("../pages/articles/*.{md,mdx}"));
---

<PageLayout>
  <slot />
  <h2>Recent articles</h2>
  <ArticleList articles={articles.slice(0, 3)} />
  <p>Browse <a href="/articles">all articles</a> or <a href="/tags/">by tag</a></p>
</PageLayout>
