---
import Note from "../components/Note.astro";
import PageLayout from "./PageLayout.astro";

const {
  frontmatter: { pubDate, edited, number },
} = Astro.props;

const title = `Note #` + number;
---

<PageLayout title={title} withoutH1>
  <Note date={pubDate} edited={edited} number={number}>
    <slot />
  </Note>
  <p>Browse <a href="/notes/">all notes</a></p>
</PageLayout>

<style>
  p {
    margin-top: 2rem;
    text-align: center;
  }
</style>
