---
import Emoji from "astro-emoji";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SkipLink from "../components/SkipLink.astro";
import BaseLayout from "./BaseLayout.astro";

export { type Props } from "./BaseLayout.astro";

// Logic repeated in BaseLayout.astro
const title = Astro.props.frontmatter?.title ?? Astro.props.title;
---

<BaseLayout {...Astro.props}>
  <SkipLink />
  <div>
    <p>
      <Emoji symbol="👋" />
      Hey neighbor! I am in the process of rebuilding this site, and there may be
      some rough edges. If you come across an issue or content that you appears to
      be missing, please
      <a href="mailto:sean@seanmcp.com?subject=You Goofed"
        >reach out and let me know</a
      >.
    </p>
  </div>
  <SiteHeader />
  <main id="main">
    <h1>{title}</h1>
    <slot />
  </main>
  <SiteFooter />
</BaseLayout>

<style>
  div {
    background-color: var(--off-background);
    margin-bottom: 2rem;
    padding: 1rem;
  }

  p {
    margin: 0 auto;
    max-width: calc(10rem * 4);
  }
</style>
