---
import SiteFooter from "@components/SiteFooter.astro";
import SiteHeader from "@components/SiteHeader.astro";
import SkipLink from "@components/SkipLink.astro";
import BaseLayout from "./BaseLayout.astro";

export { type Props } from "./BaseLayout.astro";

const { withoutH1 } = Astro.props;

// Logic repeated in BaseLayout.astro
const title = Astro.props.frontmatter?.title ?? Astro.props.title;
---

<BaseLayout {...Astro.props}>
  <SkipLink />
  <SiteHeader />
  <main id="main">
    <!-- TODO: Add hero images to pages -->
    {!withoutH1 && <h1>{title}</h1>}
    <slot />
  </main>
  <SiteFooter />
  <script src="/js/bookmarks.js" is:inline></script>
  <script src="/js/scroll.js" is:inline></script>
  <script src="/js/web-components.js" is:inline defer></script>
</BaseLayout>

<style>
  main {
    margin-top: 3.5rem;
  }
</style>
