---
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import BaseLayout from './BaseLayout.astro'

export { type Props } from "./BaseLayout.astro"
---

<BaseLayout {...Astro.props}>
    <SiteHeader />
    <main>
        <h1>{Astro.props.title}</h1>
        <slot/>
    </main>
    <SiteFooter />
</BaseLayout>