---
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import BaseLayout from "./BaseLayout.astro";

export { type Props } from "./BaseLayout.astro";

// Logic repeated in BaseLayout.astro
const title = Astro.props.frontmatter?.title ?? Astro.props.title;
---

<BaseLayout {...Astro.props}>
  <SiteHeader />
  <main>
    <h1>{title}</h1>
    <slot />
  </main>
  <SiteFooter />
</BaseLayout>
