---
import SiteFooter from "@components/SiteFooter.astro";
import SiteHeader from "@components/SiteHeader.astro";
import SkipLink from "@components/SkipLink.astro";
import BaseLayout from "./BaseLayout.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";

export { type Props } from "./BaseLayout.astro";

const { withoutH1 } = Astro.props;

// Logic repeated in BaseLayout.astro
const title = Astro.props.frontmatter?.title ?? Astro.props.title;
const showBreadcrumbs =
  Astro.props.frontmatter?.showBreadcrumbs ?? Astro.props.showBreadcrumbs;
---

<BaseLayout {...Astro.props}>
  <SkipLink />
  <!-- <SiteHeader /> -->
  <main id="main">
    <div class="contain() stack()">
      {showBreadcrumbs && <Breadcrumbs currentPageTitle={title} />}
      <!-- TODO: Add hero images to pages -->
      {!withoutH1 && <h1>{title}</h1>}
      <slot />
    </div>
  </main>
  <SiteFooter />
  <script src="/js/scroll.js" is:inline></script>
  <script src="/js/web-components.js" is:inline defer></script>
</BaseLayout>

<style>
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    margin-block: var(--space-m);
  }
  main > div {
    height: 100%;
  }
  h1 {
    text-align: center;
  }
</style>
