<section class="article-list" aria-label="articles">
    {%- for article in articles | reverse %}
        <article>
            {%- if article.data and article.data.tags and "garden" in article.data.tags %}
                <span class="date">Garden</span>
            {%- else %}
                <time class="date" datetime="{{ article.date | htmlDateString }}">{{ article.date | readableDate }}</time>
            {%- endif %}
            <{{ heading or 'h3' }} style="margin-top:1rem;">
                <a href="{{ article.url | url }}">
                    {{ article.data.title }}
                </a>
            </{{ heading or 'h3' }}>
            {%- if article.data.description %}
                <p>{{ article.data.description }}</p>
            {%- endif %}
        </article>
    {%- endfor %}
</section>