<section class="bio">
    <div class="container --content --clear-child-margins">
        <p>My name is <b>Sean McPherson (SeanMcP)</b>, and I am a software engineer and educator in Pittsburgh, PA. I have given conference talks, lead workshops, and organized meetups. Here I write articles about programming for developers of all levels.</p>
    </div>
</section>