<section class="bio">
    <div class="content-container --clear-child-margins">
        <p>My name is Sean McPherson, and I am a software engineer and educator in Pittsburgh, PA. In the past, I have given conference talks, lead workshops, and organized meetups. Here I write articles about programming for developers of all levels.</p>
    </div>
</section>