<footer class="site-footer">
    <div class="container --clear-child-margins">
        <b>SeanMcP.com</b><br>
        <small>Copyright © 2018-{% currentYear %} Sean McPherson (SDG)</small>
    </div>
</footer>