<footer class="footer">
    <div class="content-container">
        <div class="footer__content">
            <div class="footer__block">
                <div class="footer__block-title">
                    Copyright
                </div>
                <p>© Sean McPherson</p>
            </div>
            <div class="footer__block">
                <div class="footer__block-title">
                    Connect
                </div>
                <nav aria-label="social">
                    {% for social in socials %}
                        <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer">{{ social.name }}</a>
                    {% endfor %}
                </nav>
            </div>
            <div class="footer__block SDG">
                <div class="footer__block-title">
                    SDG
                </div>
                <p
                    title="And whatever you do in word or deed, do all in the name of the Lord Jesus, giving thanks to God the Father through Him. — Col. 3:17 (NKJV)"
                    aria-label="And whatever you do in word or deed, do all in the name of the Lord Jesus, giving thanks to God the Father through Him. — Col. 3:17 (NKJV)"
                    tabindex="0"
                >
                    Colossians 3:17
                </p>
            </div>
        </div>
    </div>
</footer>