<header class="site-header">
    <div class="container --content">
        <a aria-label="Sean McP" class="logo-link" href="{{ '/' | url }}"></a>

        {% set navLabel = "primary" %}
        {% set navId = "desktop-nav" %}
        {% set navLinks = nav.primary %}
        {% include "partials/navigation.njk" %}
    </div>
</header>