<header class="site-header">
    <div class="container">
        <a aria-label="Sean McP" class="logo-link" href="{{ '/' | url }}"></a>

        {% set navLabel = "primary" %}
        {% set navId = "desktop-nav" %}
        {% include "partials/navigation.njk" %}
    </div>
    {# <div id="scroll-progress"><span></span></div> #}
</header>