<nav aria-label="{{ navLabel }}" {% if navId %}id="{{ navId }}"{% endif %}>
    {%- for nav in navLinks -%}
        <a {% if nav.url == page.url %}aria-current="page"{% endif %} href="{{ nav.url | url }}">{{ nav.label }}</a>
    {%- endfor -%}
</nav>