<nav aria-label="{{ navLabel }}" class="nav" {% if navId %}id="{{ navId }}"{% endif %}>
    {%- for nav in navigation -%}
        <a {% if nav.url == page.url %}aria-current="page"{% endif %} class="nav__item site-link" href="{{ nav.url | url }}">
            {{ nav.label }}
        </a>
    {%- endfor -%}
</nav>